/* shared part */
* {
    margin: 0 auto;
}

body {
    font-family: 'Lato', sans-serif;
}

.title-primary {
    font-size: 40px;
    font-weight: 800;
}

.btn-primary {
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border: 0;
    color: white;
    background: #E55473;
    font-weight: 700;
}



/* heading part */

.flowers {
    display: flex;
    background-color: #FCEEF1;
    height: 500px;
    align-items: center;
    justify-content: space-evenly;
    align-items: center;
}

.flowers-left {
    width: 50%;
    padding: 0 0 0 200px;
}

.flowers-title {
    font-weight: 800;
    font-size: 50px;
}

.flowers-para {
    padding-right: 200px;
    margin: 15px 0;
    color: #7C7778;
    font-size: 18px;
}

.flowers-right {
    width: 50%;
}

.pink-flowers {
    width: 372px;
    margin-top: 35px;
}

/* featured flower part  */
.featured-flower {
    text-align: center;
    margin: 50px auto;
}

.featured-text {
    padding: 15px 500px;
    font-size: 18px;
    color: #7C7778;
    margin-bottom: 50px;
}

.flower-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1 {
    width: 33%;
    text-align: right;
}

.box1 img {
    width: 175px;
    padding: 50px 50px 0;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background: pink;
}

.link-btn1 {
    display: block;
    margin-top: 20px;
    margin-right: 80px;
    color: black;
    font-size: 18px;
}

.link-btn2 {
    display: block;
    margin-top: 20px;
    color: black;
    font-size: 18px;
}

.link-btn3 {
    display: block;
    margin-top: 20px;
    margin-left: 80px;
    color: black;
    font-size: 18px;
}

.box2 {
    width: 33%;
    text-align: center;
}

.box2 img {
    width: 200px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background: #D9EFF1;
    padding: 45px;
}

.box3 {
    width: 33%;
    text-align: left;
}

.box3 img {
    width: 175px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background: #E3EBDB;
    padding: 30px 50px 0;
}


/* deal part */
.hot-deal {
    display: flex;
    align-items: center;
    background: #FEF6F8;
    padding: 60px 0;
    margin: 70px 0;
}

.deal-left {
    text-align: center;
    width: 60%;
    margin-left: 100px;
}

.discount-color {
    color: #E55473;
}

.deal-para {
    font-size: 18px;
    margin: 20px 0;
    color: #7C7778;
}

.deal-right {
    width: 40%;
}


/* insta part */
.insta {
    margin: 50px 0;
    text-align: center;
}

.insta-text {
    margin: 25px 0;
}

.insta-para {
    padding: 15px 500px;
    font-size: 18px;
    color: #7C7778;
}

.insta-img {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 80%;
    justify-content: center;
    margin: 0 auto;
}

.insta-all-img img {
    width: 235px;
}



/* subscribe part */
.subscribe {
    background: url(../images/Rectangle\ 9.png);
    padding: 100px 0;
    text-align: center;
    width: 77%;
    margin: 100px auto;
    border-radius: 7px;
}

.subscribe-text p {
    font-size: 18px;
    color: #7C7778;
    padding: 15px;
}

.email-field {
    width: 420px;
    padding: 10px 10px;
    border: 0;
    border-radius: 5px;
    margin-right: 8px;
    margin-top: 15px;
    font-size: 14px;
}


/* footer part  */
footer {
    background-color: black;
    color: white;
    padding: 100px 0;
    text-align: center;
}

.title-color {
    color: #E55473;
}

.footer-text p {
    padding: 20px 465px;
    font-size: 18px;
    color: #E7E7E7;
}

.footer-copy-right p {
    color: #707070;
    font-size: 18px;
    margin-top: 10px;
}